*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: blanchedalmond;
   color: blue;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

@keyframes go-left-right {        
   from { left: -400px; }             
   to { left: calc(100% - 75%); } 
 }

h1{
   font-family: cursive;
   font-size: 60px;
   /* font-weight: bold; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: 4px underline brown;
   margin: 15px;
   padding: 10px;

   animation: go-left-right 3s infinite alternate;
   position: relative;

}

form{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

form #firstName{
   font-size: 20px;
   padding: 10px;
   font-stretch: ultra-expanded;
   /* font-variant: small-caps; */
   text-transform:capitalize;
   border-radius: 15px;

}

form #lastName{
   font-size: 20px;
   padding: 10px;
   font-stretch: ultra-expanded;
   /* font-variant: small-caps; */
   text-transform:capitalize;
   border-radius: 15px;

}

form #score{
   font-size: 20px;
   padding: 10px;
   font-stretch: ultra-expanded;
   font-variant: small-caps;
   /* text-transform:capitalize; */
   border-radius: 15px;

}

form #country{
   font-size: 20px;
   padding: 10px;
   font-stretch: ultra-expanded;
   /* font-variant: small-caps; */
   text-transform:capitalize;
   border-radius: 15px;

}

button{
   font-size: 20px;
   margin-left: 25px;
   padding: 15px;
   font-stretch: ultra-expanded;
   border: 4px solid blue;
   border-radius: 50px;
   box-shadow: 0 3px 5px 2px black;
   cursor: pointer;    
}

.output{
   height: 50em;
   width: 80em;
   text-align: center;
   margin: 50px auto ;
   padding: 15px;
   
   background-color: brown;
   border-radius: 15px;
   border: 4px solid blue;
}

#list{
   list-style:none;
   font-size: 40px;
   text-align: center;
}

#list li{
   color: blanchedalmond;
   padding: 10px;
}

#list li span{
   margin-right: 50px;
}
